html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button,
dl,
dt,
dd,
ul,
li,
ol,
form,
th,
td {
  margin: 0;
  padding: 0;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  /*禁止文字缩放*/
  -webkit-text-size-adjust: 100%;
  /*选中文字设置*/
}
body {
  color: #333;
  line-height: 1.5;
  background: #ffffff;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
/*清除点击阴影*/
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*-webkit-tap-highlight-color: transparent*/
}
/*消除圆角按钮（针对ios系统）*/
input,
button {
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}
ul,
li,
ol {
  list-style: none;
}
img {
  display: block;
  border: 0;
}
a {
  color: #333;
  text-decoration: none;
}
textarea,
input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: text;
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #ccc;
}
/*弹性盒模型*/
.set-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.set-grow {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.set-align {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.set-ver {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.set-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.set-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.set-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.set-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.set-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
[v-cloak] {
  display: none;
}
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40rpx;
  height: 40rpx;
}
.red_Btn {
  background-image: url('../../static/red-btn.png');
}
.blue_Btn {
  background-image: url('../../static/blue-btn.png');
}
.icon_home {
  width: 120rpx;
  height: 90rpx;
  background-image: url('../../static/home.png');
}
.icon_successHome {
  width: 328rpx;
  height: 252rpx;
  background-image: url('../../static/success_home.png');
}
.icon_redArrow {
  width: 17rpx;
  height: 19rpx;
  background-image: url('../../static/red-arrow.png');
}
.icon_blueArrow {
  width: 17rpx;
  height: 19rpx;
  background-image: url('../../static/blue-arrow.png');
}
.icon_trade {
  width: 60rpx;
  height: 60rpx;
  background-image: url('../../static/icon_trade.png');
}
.icon_promotion {
  width: 60rpx;
  height: 60rpx;
  background-image: url('../../static/icon_promotion.png');
}
.icon_goods {
  width: 60rpx;
  height: 60rpx;
  background-image: url('../../static/icon_goods.png');
}
.icon_finance {
  width: 60rpx;
  height: 60rpx;
  background-image: url('../../static/icon_finance.png');
}
.icon_checkin {
  width: 60rpx;
  height: 60rpx;
  background-image: url('../../static/icon_checkin.png');
}
.icon_trade2 {
  width: 60rpx;
  height: 60rpx;
  background-image: url('../../static/icon_trade2.png');
}
.icon_promotion2 {
  width: 60rpx;
  height: 60rpx;
  background-image: url('../../static/icon_promotion2.png');
}
.icon_goods2 {
  width: 60rpx;
  height: 60rpx;
  background-image: url('../../static/icon_goods2.png');
}
.icon_finance2 {
  width: 60rpx;
  height: 60rpx;
  background-image: url('../../static/icon_finance2.png');
}
.icon_checkin2 {
  width: 60rpx;
  height: 60rpx;
  background-image: url('../../static/icon_checkin2.png');
}
.icon_nearby2 {
  width: 60rpx;
  height: 60rpx;
  background-image: url('../../static/icon_nearby2.png');
}
.icon_save2 {
  width: 60rpx;
  height: 60rpx;
  background-image: url('../../static/icon_save2.png');
}
.black_edit {
  width: 30rpx;
  height: 30rpx;
  background-image: url('../../static/black_edit.png');
}
.black_delete {
  width: 30rpx;
  height: 30rpx;
  background-image: url('../../static/black_delete.png');
}
.black_add {
  width: 30rpx;
  height: 30rpx;
  background-image: url('../../static/black_add.png');
}
.icon_reduce {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/reduce.png');
}
.icon_searchDis {
  width: 80rpx;
  height: 80rpx;
  background-image: url('../../static/search.png');
}
.icon_rise {
  width: 60rpx;
  height: 60rpx;
  background-image: url('../../static/icon_up.png');
  background-size: 100% 100%;
}
.icon_drop {
  width: 60rpx;
  height: 60rpx;
  background-image: url('../../static/icon_down.png');
  background-size: 100% 100%;
}
.icon_menu {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/menu.png');
  background-size: 100% 100%;
}
.icon_spec {
  width: 160rpx;
  height: 160rpx;
  background-image: url('../../static/spec.png');
  background-size: 100% 100%;
}
.icon_disc {
  width: 160rpx;
  height: 160rpx;
  background-image: url('../../static/disc.png');
  background-size: 100% 100%;
}
.icon_spec_end {
  width: 160rpx;
  height: 160rpx;
  background-image: url('../../static/spec.png');
  background-size: 100% 100%;
}
.icon_arrowBottom {
  width: 20rpx;
  height: 10rpx;
  background-image: url('../../static/arrowBottom.png');
}
.icon_arrowRight {
  width: 25rpx;
  height: 25rpx;
  background-image: url('../../static/icon_arrowRight.png');
}
.icon_search {
  width: 30rpx;
  height: 30rpx;
  background-image: url('../../static/icon_search.png');
}
.pageTitle {
  font-size: 46rpx ;
  color: #000;
  line-height: 120rpx;
  font-weight: 900;
}
.icon_nearby {
  width: 35rpx;
  height: 35rpx;
  background-image: url('../../static/icon_nearby.png');
}
.icon_nearbyOn {
  width: 35rpx;
  height: 35rpx;
  background-image: url('../../static/icon_nearbyOn.png');
  background-size: 24rpx;
}
.icon_edit {
  width: 30rpx;
  height: 30rpx;
  background-image: url('../../static/icon_edit.png');
}
.icon_close {
  width: 42rpx;
  height: 42rpx;
  background-image: url('../../static/icon_close.png');
}
.icon_close_shop {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/icon_close_shop.png');
}
.icon_clear {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/icon_clear.png');
}
.icon_del {
  width: 36rpx;
  height: 36rpx;
  background-image: url('../../static/icon_del.png');
}
.icon_userinfo {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/icon_userInfo.png');
}
.icon_service {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/icon_service.png');
}
.icon_wallet {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/icon_wallet.png');
}
.icon_qr {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/icon_qr.png');
}
.icon_income {
  width: 60rpx;
  height: 60rpx;
  background-image: url('../../static/icon_income.png');
}
.icon_order {
  width: 60rpx;
  height: 60rpx;
  background-image: url('../../static/icon_order.png');
}
.icon_tel {
  width: 46rpx;
  height: 46rpx;
  background-image: url('../../static/icon_tel.png');
}
.icon_success {
  width: 31rpx;
  height: 31rpx;
  background-image: url('../../static/icon_success.png');
}
.icon_adminCheck {
  width: 28rpx;
  height: 28rpx;
  background-image: url('../../static/icon_adminCheck.png');
}
.icon_adminChecked {
  width: 28rpx;
  height: 28rpx;
  background-image: url('../../static/icon_adminChecked.png');
}
.icon_puton {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/puton.png');
}
.icon_putoned {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/putoned.png');
}
.icon_pulloff {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/pulloff.png');
}
.icon_pulloffed {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/pulloffed.png');
}
.icon_stop {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/stop.png');
}
.icon_stoped {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/stoped.png');
}
.icon_class {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/icon_class.png');
}
.icon_classed {
  width: 32rpx;
  height: 32rpx;
  background-image: url('../../static/icon_classed.png');
}
.icon_emitAdd {
  width: 30rpx;
  height: 30rpx;
  background-image: url('../../static/icon_emitAdd.png');
}
.icon_right_black {
  width: 12rpx;
  height: 18rpx;
  background-image: url('../../static/icon_right_black.png');
}
.icon_ruleCourse {
  width: 30rpx;
  height: 30rpx;
  background-image: url('../../static/icon_ruleCourse.png');
}
.icon_ruleAdd {
  width: 30rpx;
  height: 30rpx;
  background-image: url('../../static/icon_ruleAdd.png');
}
.icon_check1 {
  width: 18rpx;
  height: 18rpx;
  background-image: url('../../static/icon_check1.png');
}
.icon_checked1 {
  width: 18rpx;
  height: 18rpx;
  background-image: url('../../static/icon_checked1.png');
}
.icon_emit1 {
  width: 30rpx;
  height: 30rpx;
  background-image: url('../../static/icon_emit1.png');
}
.icon_top {
  width: 64rpx;
  height: 64rpx;
  background-image: url('../../static/top.png');
}
.icon_ing {
  width: 28rpx;
  height: 9rpx;
  background-image: url('../../static/icon_ing.png');
}
.index_btn {
  background-size: 100% 100%;
  background-image: url('https://otherfiles-ali.uupt.com/Stunner/FE/M/index-btn.png');
}
.wait_application_bg {
  background-size: 100% 100%;
  background-image: url('https://otherfiles-ali.uupt.com/Stunner/FE/M/5b0245305a96d.png');
  background-repeat: no-repeat;
}
.no_pass_bg {
  background-size: 100% 100%;
  background-image: url('https://otherfiles-ali.uupt.com/Stunner/FE/M/5b0245306c118.png');
  background-repeat: no-repeat;
}
.pass_bg {
  background-size: 100% 100%;
  background-image: url('https://otherfiles-ali.uupt.com/Stunner/FE/M/5b0245305a244.png');
  background-repeat: no-repeat;
}
.icon_dealImg {
  width: 64rpx ;
  height: 64rpx ;
  background-image: url('../../static/icon_clear.png');
}
.icon_imgClear {
  width: 21rpx;
  height: 26rpx;
  background-image: url('../../static/icon_imgClear.png');
}
.icon_imgUp {
  width: 21rpx;
  height: 26rpx;
  background-image: url('../../static/icon_imgUp.png');
}
.icon_imgDown {
  width: 21rpx;
  height: 26rpx;
  background-image: url('../../static/icon_imgDown.png');
}
.icon_myqr {
  width: 44rpx;
  height: 44rpx;
  background-image: url('../../static/icon_myqr.png');
}
.icon_arrowDown {
  width: 20rpx;
  height: 20rpx;
  background-image: url('../../static/icon_arrowDown.png');
}
.icon_inTransaction {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/in-transaction.png');
}
.icon_inWithdraw {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/in-withdraw.png');
}
.icon_walletDetails {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/wallet-details.png');
}
.icon_passwordMe {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/password-me.png');
}
.icon_bankCard {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/bank-card.png');
}
.icon_paotuiWallet {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/paotui-wallet.png');
}
.icon_dadaWallet {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/dada.png');
}
.icon_shop_buy {
  width: 40rpx;
  height: 40rpx;
  background-image: url('../../static/shop-buy.png');
}
.icon_arrowSpec {
  width: 10rpx;
  height: 18rpx;
  background-image: url('../../static/icon_arrowSpec.png');
}
.select_bg {
  background-image: url('../../static/select-bg.png');
  background-size: 100% 100%;
}
.select_plat {
  background-image: url('https://otherfiles-ali.uupt.com/Stunner/FE/M/33584f06333c400588d66348b729d1ad_big.png');
  background-size: 100% 100%;
}
.select_exclusive {
  background-image: url('https://otherfiles-ali.uupt.com/Stunner/FE/M/5f78715564dc4c1fab3a5a697722bdfa_big.png');
  background-size: 100% 100%;
}
.select_plat_btn {
  background-image: url('../../static/platBtn.png');
  background-size: 100% 100%;
}
.select_exclusive_btn {
  background-image: url('../../static/exclusiveBtn.png');
  background-size: 100% 100%;
}
.icon_btnEmit {
  width: 27rpx;
  height: 30rpx;
  background-image: url('../../static/icon_btnEmit.png');
  background-size: 100% 100%;
}
.icon_btnState {
  width: 27rpx;
  height: 30rpx;
  background-image: url('../../static/icon_state.png');
  background-size: 100% 100%;
}
.icon_btnShare {
  width: 36rpx;
  height: 30rpx;
  background-image: url('../../static/icon_btnShare.png');
  background-size: 100% 100%;
}
.icon_adminSort {
  width: 26rpx;
  height: 26rpx;
  background-image: url('../../static/icon_adminSort.png');
  background-size: 100% 100%;
}
.icon_adminEmit {
  width: 26rpx;
  height: 26rpx;
  background-image: url('../../static/icon_adminEmit.png');
  background-size: 100% 100%;
}
.icon_plat {
  width: 24rpx;
  height: 24rpx;
  background-image: url('../../static/admin-plat.png');
  background-size: 100% 100%;
}
.icon_vip {
  width: 24rpx;
  height: 24rpx;
  background-image: url('../../static/admin-vip.png');
  background-size: 100% 100%;
}
.icon_down {
  width: 24rpx;
  height: 24rpx;
  background-image: url('../../static/down.png');
  background-size: 100% 100%;
}
.guide_bg {
  background-image: url('../../static/guide.png');
  background-size: 100% 100%;
}
.icon_happy {
  width: 36rpx;
  height: 36rpx;
  background-image: url('../../static/happy.png');
  background-size: 100% 100%;
  margin-right: 10rpx;
}
.icon_sad {
  width: 36rpx;
  height: 36rpx;
  background-image: url('../../static/sad.png');
  background-size: 100% 100%;
  margin-right: 10rpx;
}
.icon_bot {
  width: 22rpx;
  height: 12rpx;
  background-image: url('../../static/icon-bot.png');
  background-size: 100% 100%;
}
.icon_tips {
  width: 100rpx;
  height: 132rpx;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../../static/tips.png');
}
.icon_help {
  width: 32rpx;
  height: 32rpx;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../../static/help.png');
}
.over {
  width: 280rpx;
  height: 90rpx;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../../static/jump-over.png');
}
.know {
  width: 190rpx;
  height: 90rpx;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../../static/know.png');
}
.yellow {
  width: 20rpx;
  height: 24rpx;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../../static/yellow.png');
  margin-left: 8rpx;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade_in {
  animation: fadeIn 0.6s forwards;
}
